@use "@styles/color";
@use "@styles/font";
@use "@styles/space";
@use "@styles/breakpoint";
@use "@styles/misc";

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  display: inline-block;
}
