@use "@styles/color";
@use "@styles/font";
@use "@styles/space";
@use "@styles/breakpoint";
@use "@styles/misc";

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 30px;
  background: color.$gray-50;
}

.logoContainer {
  padding-right: 3px;
}

.version {
  color: color.$gray-400;
  font-weight: 400;
  line-height: 24px;
}

.nav {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  gap: 24px;
  margin-right: 90px;

  .navItem {
    font-weight: 500;

    .link {
      text-decoration: none;
      color: color.$gray-500;
    }
  }
}

@media (max-width: breakpoint.$desktop) {
  .footer {
    flex-direction: column;
    justify-content: center;
    height: auto;
    margin: 0;
    gap: 24px;
    padding: 24px;
  }

  .nav {
    order: 0;
    margin: 0;
  }

  .version {
    order: 2;
    padding: 0;
    margin-top: -17px;
    margin-left: 4px;
  }

  .logoContainer {
    order: 1;
  }
}
